$navbarBg: #fff;
$navbarBgHover: #f7f7f7;
$navbarText: #777;
$navbarTextHover: #5e5e5e;
$navbarHoverBorder: #256e6c;

$borderColor: #bababa;

$navbarHeight: 68px;
$navbarItemPadding: 35px;
$animationTime: 0.2s;

@mixin overlayBg($color, $image) {
background: 
  /* top, transparent red, faked with gradient */ 
  linear-gradient($color, $color),
  /* bottom, image */
  url($image);
}

body {
	font-family: 'Open Sans', sans-serif;
	padding-top: $navbarHeight;
}

.navbar-custom {
	background: $navbarBg;
	top: 0;
	transition: top $animationTime ease-in-out;
	border: none;
	font-family: 'Titillium Web', sans-serif;
	
	.navbar-brand {
		color: $navbarText;
		line-height: 16px;
		font-size: 16px;
	  height: $navbarHeight;
		text-align: center;
		transition: all $animationTime linear;
			
		hr {
			margin: 4px 10px;
			border-color: $borderColor;
			transition: border-color $animationTime, margin $animationTime,
									opacity $animationTime linear;
		}			
		&:hover, &:focus {
			color: $navbarHoverBorder;
					
			hr {
				border-color: $navbarHoverBorder;
				margin: 4px;
				opacity: 0.5;
			}
		}
	}
	.navbar-nav {
		> li {
			> a {
				color: $navbarText;
				transition: all $animationTime linear;
				
				&:hover, &:focus {
					color: $navbarTextHover;
					background-color: $navbarBgHover;
				}
			}
		}
		.active {
			a {
				color: $navbarText;
				
				&:hover, &:focus {
					color: $navbarTextHover;
					background-color: $navbarBgHover;
				}
			}
		}
		.open {
			a {
				color: $navbarText;
				
				.caret {
					border-top-color: $navbarTextHover;
					border-bottom-color: $navbarTextHover;
				}	
				
				&:hover, &:focus {
					color: $navbarTextHover;
					background-color: $navbarBgHover;
					
					.caret {
						border-top-color: $navbarTextHover;
						border-bottom-color: $navbarTextHover;
					}	
				}
			}
		}
		/* caret */
		.dropdown {
			> a {
				.caret {
					border-top-color: $navbarText;
		    	border-bottom-color: $navbarText;
				}				
				&:hover, &:focus {
					.caret {
						border-top-color: $navbarTextHover;
			    	border-bottom-color: $navbarTextHover;
					}
				}
			}
		}
	}
	.dropdown-menu {
		border: none;
		border-radius: 0;
	}
	/* mobile version */
	.navbar-toggle {
	  border:none;
		margin: 15px 15px 15px 0px;
		&:hover, &:focus {
			background-color: $navbarBgHover;
		}
		.icon-bar {
			background-color: $navbarText;
		}
	}
}
@media (min-width: 768px) {
	.navbar-custom {
		.dropdown-menu {
			left: 50%;
  	 	right: auto;
  		text-align: left;
  		transform: translate(-50%, 0);
			display: block;
			font-size: 14px;
			visibility: hidden;
			box-shadow: none;
			width: 100%;
	 		min-width: inherit;
			opacity: 0;
			transition: visibility 0s, opacity $animationTime,
									box-shadow $animationTime linear;
			> li {
				> a {
					color: $navbarText;					
					
					&:focus, &:hover {
						color: $navbarTextHover;
						background-image: none;
						background-color: $navbarBgHover;
					}
				}
			}
		 }
		 .dropdown:hover .dropdown-menu {
 		    visibility: visible;
 		    margin-top: 0;
				box-shadow: inset 0px -3px 0px 0px $navbarHoverBorder;
				opacity: 1;
				transition: all $animationTime linear;
 		 }
		 .navbar-nav {
	 		> li {
				> a {
					padding-left: $navbarItemPadding;
					padding-right: $navbarItemPadding;
					text-align: center;
					line-height: $navbarHeight - 30px;
					font-size: 13px;
			    height: $navbarHeight;
				}
	 			> a:hover, > a:focus {
					box-shadow: inset 0px -3px 0px 0px $navbarHoverBorder;
				}
			}
			.dropdown {
				> a:hover, > a:focus {
					box-shadow: none;
				}
			}
		}		
	}
	
}
@media (max-width: 767px) {
	.navbar-custom .navbar-nav .open .dropdown-menu > li > a {
  	color: $navbarText;
	
		&:hover, &:focus {
			color: $navbarTextHover;
		}
	}
}
 
.nav-up {
  top: -$navbarHeight;
}

.header {
	min-height: 30vh;
	padding: 30px 0;
	display: flex;
	align-items: center;	
	justify-content: flex-start;
	margin: 0;
	background-image: none;
	background-color: #30a678;
	
	h2 {
		margin: 0;
	}
}

.jumbo {
	min-height: 50vh;
	padding: 30px 0;
	background-color: #48cf72;
	@include overlayBg( rgba(41, 65, 59, 0.5), '../img/main.jpg');
	background-size: cover;
	background-position: top;
	color: #fff;
	display: flex;
	align-items: center;
}

.header#stipendije {
	@include overlayBg( rgba(41, 65, 59, 0.6), '../img/stipendije.jpg');
	background-size: cover;
	background-position: center;
}

.segment {
	padding: 20px 0;
	
	h3 {
		margin-bottom: 20px;
	}
}

#dusan_pavlovic, 
#nasa_misija {
	background-color: #e1ebea;
}

.sticky {
	padding-top: $navbarHeight;
}

.text-center {
	text-align: center;
}

.border-left {
	border-left: $borderColor 1px solid;
}

.border-right {
	border-right: $borderColor 1px solid;
}

@media (max-width: 991px) {
	/* border right goes left when small*/
	.border-right {
		border-left: $borderColor 1px solid;
		border-right: none;
	}
}

.btn {
	background-image: none;
	border: none;
	text-shadow: none;
	 > i.fa {
		 padding-right: 8px;
	 }
}