{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

<div id="{{ _self.pageLinkName(page.menu) }}" class="header">
    <div class="container">
        {{ content }}
    </div>
</div>