{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

<div id="{{ _self.pageLinkName(page.menu) }}" class="segment">
    <div class="container o-nama">
      <h3>{{ page.header.title }}</h3>
      {{ content }}
    </div>
</div>
